<section class="centered-button">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <a class="button" href="<%= current_page.data.button_link %>">
        <%= current_page.data.button_text %>
      </a>
    </div>
    <div class="col"></div>
  </div>
</section>
