<section class="info-cards">
  <h1 class="header">The B4R Advantage</h1>

  <div class="row">
    <div class="col info-card">
      <div class="header-container">
        <img class="card-img" src="images/visibility.png" alt="" />
        <h3 class="card-title">Visibility</h3>
      </div>
      <p class="info-content">"Although [Big 4 firm] looks at every résumé submitted, 'a referral puts them in the express lane,' said Larry Nash, director of experienced and executive recruiting there. Indeed, as referred candidates get fast-tracked, applicants from other sources... sink to the bottom of the pile." -New York Times</p>
    </div>

    <div class="col gutter"></div>

    <div class="col info-card">
      <div class="header-container">
        <img class="card-img" src="images/resume.png" alt="" />
        <h3 class="card-title">Resume Builder</h3>
      </div>
      <p class="info-content">Your resume is one of the most powerful sales tools you possess. That being said, many experienced hires are unsure of which "bullet points" to include and which to omit. This is where we come in. The B4R team will help you strengthen your resume and get it Big 4 ready. </p>
    </div>

    <div class="col gutter"></div>

    <div class="col info-card">
      <div class="header-container">
        <img class="card-img" src="images/interview.png" alt="" />
        <h3 class="card-title">Interview Coach</h3>
      </div>
      <p class="info-content">You've made it to the final round of interviews. Two senior managers and a partner stand in your way of a Big 4 career. Don't show up without a game plan! The B4R team will help you prepare and practice for your interview so you aren't caught off guard by any questions that may come up.</p>
    </div>
  </div>
</section>
