<nav class="navigation-container">
  <a href="/"><img class="logo" src="images/logo.png" /></a>

  <div class="nav-links">
    <a class="item" src="/">Home</a>
    <a class="item" src="submit.html">Submit</a>
    <a class="item" src="faq.html">FAQ</a>
  </div>
</nav>
