.button {
  text-align: center;
  text-decoration: none;
  background-color: $color-primary;
  color: #FFF;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  font-family: 'Wire One', sans-serif;;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-size: 3em;
  outline: none;
  border: none;
}

.button:hover { background-color: $color-hover; }
