html, body, button, input, select, textarea {
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  color: $text-default;
}

h1 { font-size: 26px; font-weight: 500; margin: 0; }
h3 { font-size: 16px; font-weight: 500; margin: 0; }
p  { font-size: 12px; font-weight: 300 }

@media (max-width: $screen-xs-max) {
  h1 { font-size: 20px; }
  h3 { font-size: 14px; }
}
